<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IMC</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-label position="floating">Altura</ion-label>
      <ion-input [(ngModel)]="altura" name="altura"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Peso</ion-label>
        <ion-input [(ngModel)]="peso" name="peso"></ion-input>
        
      </ion-item>

      <ion-select [(ngModel)]= "opcao" placeholder="Selecione o sexo">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Feminino">Feminino</ion-select-option>
      </ion-select>

      <div class="button">
        <ion-button shape="round" (click)="IMC" color="new">IMC</ion-button>
      </div>
      <ion-button expand="block" (click)="mudarTema()">Trocar tema</ion-button>
      <ion-item>
        <ion-label>Dark theme</ion-label>
        <ion-toggle (ionChange)="trocaTema($event)" slot="end"></ion-toggle>
      </ion-item>
    </ion-content>
